<style> 
    .container {width:100%;margin:auto;}
    @media(min-width: 600px) {.container {width:80%}}
    @media(min-width: 768px) {.container {width:60%}}
    @media(min-width: 1024px) {.container {width:50%}}
</style>

<div class="container">
<h2>My First ML Web Application in Cloud</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Taylor_Swift_at_the_2023_MTV_Video_Music_Awards_%283%29.png/330px-Taylor_Swift_at_the_2023_MTV_Video_Music_Awards_%283%29.png"
width = "320" height = "240">
<h3>My name is Bruno, may i know your name?</h3>
<form action="/main" method="post">

    <p><input type="text" name="q"></p>
    <p><input type="submit" value="Enter" style="width:100px;height:100px;"></p>
</form>
</div>
